.consultation {
    min-height: 680px;
    padding: 100px 0 92px;
    background: url('../images/consultation.jpg') center (center/cover) no-repeat;

    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        margin-top: 8px;
        // border: 1px solid #000
    }

    label.error {
        color: #fff;
    }
}